/* GRID */

.row {
	position: relative;
  border: none;
	&:before,
	&:after {
	    content: ' ';
	    display: table;
	}

	&:after {
		clear: both;
	}
}

.column {
  position: relative;
  min-height: 2px;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  border: none;
}

$grid-columns: 12;

$width-1: 8.3333%;
$width-2: 16.6667%;
$width-3: 25%;
$width-4: 33.3333%;
$width-5: 41.6667%;
$width-6: 50%;
$width-7: 58.3333%;
$width-8: 66.6667%;
$width-9: 75%;
$width-10: 83.3333%;
$width-11: 91.6667%;
$width-12: 100%;

.large {

	&-offset {
		&-0 { margin-left: 0; }
		&-1 { margin-left: $width-1; }
		&-2 { margin-left: $width-2; }
		&-3 { margin-left: $width-3; }
		&-4 { margin-left: $width-4; }
		&-5 { margin-left: $width-5; }
		&-6 { margin-left: $width-6; }
		&-7 { margin-left: $width-7; }
		&-8 { margin-left: $width-8; }
		&-9 { margin-left: $width-9; }
		&-10 { margin-left: $width-10; }
		&-11 { margin-left: $width-11; }
		&-12 { margin-left: $width-12; }
	}

	&-push {
		&-0 { left: auto; right: auto }
		&-1 { left: $width-1; right: auto }
		&-2 { left: $width-2; right: auto }
		&-3 { left: $width-3; right: auto }
		&-4 { left: $width-4; right: auto }
		&-5 { left: $width-5; right: auto }
		&-6 { left: $width-6; right: auto }
		&-7 { left: $width-7; right: auto }
		&-8 { left: $width-8; right: auto }
		&-9 { left: $width-9; right: auto }
		&-10 { left: $width-10; right: auto }
		&-11 { left: $width-11; right: auto }
		&-12 { left: $width-12; right: auto }
	}

	&-pull {
		&-0 { right: auto; left: auto }
		&-1 { right: $width-1; left: auto }
		&-2 { right: $width-2; left: auto }
		&-3 { right: $width-3; left: auto }
		&-4 { right: $width-4; left: auto }
		&-5 { right: $width-5; left: auto }
		&-6 { right: $width-6; left: auto }
		&-7 { right: $width-7; left: auto }
		&-8 { right: $width-8; left: auto }
		&-9 { right: $width-9; left: auto }
		&-10 { right: $width-10; left: auto }
		&-11 { right: $width-11; left: auto }
		&-12 { right: $width-12; left: auto }
	}

	&-1 { width: $width-1 }
	&-2 { width: $width-2 }
	&-3 { width: $width-3 }
	&-4 { width: $width-4 }
	&-5 { width: $width-5 }
	&-6 { width: $width-6 }
	&-7 { width: $width-7 }
	&-8 { width: $width-8 }
	&-9 { width: $width-9 }
	&-10 { width: $width-10 }
	&-11 { width: $width-11 }
	&-12 { width: $width-12 }

	&-centered {
	    margin-left: auto;
	    margin-right: auto;
	    float: none
	}

	&-uncentered {
	    margin-left: 0;
	    margin-right: 0
	}

	&-last {
	    float: right
	}

	&-notlast {
    	float: left
	}

	&-hide {
		display: none;
	}

}

@media only screen and (min-width: 1442px) {
	.xlarge {

		&-offset {
			&-0 { margin-left: 0; }
			&-1 { margin-left: $width-1; }
			&-2 { margin-left: $width-2; }
			&-3 { margin-left: $width-3; }
			&-4 { margin-left: $width-4; }
			&-5 { margin-left: $width-5; }
			&-6 { margin-left: $width-6; }
			&-7 { margin-left: $width-7; }
			&-8 { margin-left: $width-8; }
			&-9 { margin-left: $width-9; }
			&-10 { margin-left: $width-10; }
			&-11 { margin-left: $width-11; }
			&-12 { margin-left: $width-12; }
		}

		&-push {
			&-0 { left: auto; right: auto }
			&-1 { left: $width-1; right: auto }
			&-2 { left: $width-2; right: auto }
			&-3 { left: $width-3; right: auto }
			&-4 { left: $width-4; right: auto }
			&-5 { left: $width-5; right: auto }
			&-6 { left: $width-6; right: auto }
			&-7 { left: $width-7; right: auto }
			&-8 { left: $width-8; right: auto }
			&-9 { left: $width-9; right: auto }
			&-10 { left: $width-10; right: auto }
			&-11 { left: $width-11; right: auto }
			&-12 { left: $width-12; right: auto }
		}

		&-pull {
			&-0 { right: auto; left: auto }
			&-1 { right: $width-1; left: auto }
			&-2 { right: $width-2; left: auto }
			&-3 { right: $width-3; left: auto }
			&-4 { right: $width-4; left: auto }
			&-5 { right: $width-5; left: auto }
			&-6 { right: $width-6; left: auto }
			&-7 { right: $width-7; left: auto }
			&-8 { right: $width-8; left: auto }
			&-9 { right: $width-9; left: auto }
			&-10 { right: $width-10; left: auto }
			&-11 { right: $width-11; left: auto }
			&-12 { right: $width-12; left: auto }
		}

		&-1 { width: $width-1 }
		&-2 { width: $width-2 }
		&-3 { width: $width-3 }
		&-4 { width: $width-4 }
		&-5 { width: $width-5 }
		&-6 { width: $width-6 }
		&-7 { width: $width-7 }
		&-8 { width: $width-8 }
		&-9 { width: $width-9 }
		&-10 { width: $width-10 }
		&-11 { width: $width-11 }
		&-12 { width: $width-12 }

		&-centered {
		    margin-left: auto;
		    margin-right: auto;
		    float: none
		}

		&-uncentered {
		    margin-left: 0;
		    margin-right: 0
		}

		&-last {
		    float: right
		}

		&-notlast {
	    	float: left
		}

		&-hide {
			display: none;
		}

	}
}

@media only screen and (max-width: 1068px) {
	.medium {

		&-offset {
			&-0 { margin-left: 0; }
			&-1 { margin-left: $width-1; }
			&-2 { margin-left: $width-2; }
			&-3 { margin-left: $width-3; }
			&-4 { margin-left: $width-4; }
			&-5 { margin-left: $width-5; }
			&-6 { margin-left: $width-6; }
			&-7 { margin-left: $width-7; }
			&-8 { margin-left: $width-8; }
			&-9 { margin-left: $width-9; }
			&-10 { margin-left: $width-10; }
			&-11 { margin-left: $width-11; }
			&-12 { margin-left: $width-12; }
		}

		&-push {
			&-0 { left: auto; right: auto }
			&-1 { left: $width-1; right: auto }
			&-2 { left: $width-2; right: auto }
			&-3 { left: $width-3; right: auto }
			&-4 { left: $width-4; right: auto }
			&-5 { left: $width-5; right: auto }
			&-6 { left: $width-6; right: auto }
			&-7 { left: $width-7; right: auto }
			&-8 { left: $width-8; right: auto }
			&-9 { left: $width-9; right: auto }
			&-10 { left: $width-10; right: auto }
			&-11 { left: $width-11; right: auto }
			&-12 { left: $width-12; right: auto }
		}

		&-pull {
			&-0 { right: auto; left: auto }
			&-1 { right: $width-1; left: auto }
			&-2 { right: $width-2; left: auto }
			&-3 { right: $width-3; left: auto }
			&-4 { right: $width-4; left: auto }
			&-5 { right: $width-5; left: auto }
			&-6 { right: $width-6; left: auto }
			&-7 { right: $width-7; left: auto }
			&-8 { right: $width-8; left: auto }
			&-9 { right: $width-9; left: auto }
			&-10 { right: $width-10; left: auto }
			&-11 { right: $width-11; left: auto }
			&-12 { right: $width-12; left: auto }
		}

		&-1 { width: $width-1 }
		&-2 { width: $width-2 }
		&-3 { width: $width-3 }
		&-4 { width: $width-4 }
		&-5 { width: $width-5 }
		&-6 { width: $width-6 }
		&-7 { width: $width-7 }
		&-8 { width: $width-8 }
		&-9 { width: $width-9 }
		&-10 { width: $width-10 }
		&-11 { width: $width-11 }
		&-12 { width: $width-12 }

		&-centered {
		    margin-left: auto;
		    margin-right: auto;
		    float: none
		}

		&-uncentered {
		    margin-left: 0;
		    margin-right: 0
		}

		&-last {
		    float: right
		}

		&-notlast {
	    	float: left
		}

		&-hide {
			display: none;
		}

	}
}

@media only screen and (max-width: 735px) {
	.small {

		&-offset {
			&-0 { margin-left: 0; }
			&-1 { margin-left: $width-1; }
			&-2 { margin-left: $width-2; }
			&-3 { margin-left: $width-3; }
			&-4 { margin-left: $width-4; }
			&-5 { margin-left: $width-5; }
			&-6 { margin-left: $width-6; }
			&-7 { margin-left: $width-7; }
			&-8 { margin-left: $width-8; }
			&-9 { margin-left: $width-9; }
			&-10 { margin-left: $width-10; }
			&-11 { margin-left: $width-11; }
			&-12 { margin-left: $width-12; }
		}

		&-push {
			&-0 { left: auto; right: auto }
			&-1 { left: $width-1; right: auto }
			&-2 { left: $width-2; right: auto }
			&-3 { left: $width-3; right: auto }
			&-4 { left: $width-4; right: auto }
			&-5 { left: $width-5; right: auto }
			&-6 { left: $width-6; right: auto }
			&-7 { left: $width-7; right: auto }
			&-8 { left: $width-8; right: auto }
			&-9 { left: $width-9; right: auto }
			&-10 { left: $width-10; right: auto }
			&-11 { left: $width-11; right: auto }
			&-12 { left: $width-12; right: auto }
		}

		&-pull {
			&-0 { right: auto; left: auto }
			&-1 { right: $width-1; left: auto }
			&-2 { right: $width-2; left: auto }
			&-3 { right: $width-3; left: auto }
			&-4 { right: $width-4; left: auto }
			&-5 { right: $width-5; left: auto }
			&-6 { right: $width-6; left: auto }
			&-7 { right: $width-7; left: auto }
			&-8 { right: $width-8; left: auto }
			&-9 { right: $width-9; left: auto }
			&-10 { right: $width-10; left: auto }
			&-11 { right: $width-11; left: auto }
			&-12 { right: $width-12; left: auto }
		}

		&-1 { width: $width-1 }
		&-2 { width: $width-2 }
		&-3 { width: $width-3 }
		&-4 { width: $width-4 }
		&-5 { width: $width-5 }
		&-6 { width: $width-6 }
		&-7 { width: $width-7 }
		&-8 { width: $width-8 }
		&-9 { width: $width-9 }
		&-10 { width: $width-10 }
		&-11 { width: $width-11 }
		&-12 { width: $width-12 }

		&-centered {
		    margin-left: auto;
		    margin-right: auto;
		    float: none
		}

		&-uncentered {
		    margin-left: 0;
		    margin-right: 0
		}

		&-last {
		    float: right
		}

		&-notlast {
	    	float: left
		}

		&-hide {
			display: none;
		}
	}
}
